
<div style="height: 500px;background-color:#DFE2F2;display: flex;justify-content: space-between">
    <div>
        <h1 style="margin-top: 220px;font-weight: 700;font-size: 50px;width: 70%;margin-left: 20px;text-shadow: 1px 1px 1px #f6f6f6">Bienvenue dans la gestion des ventes de vélos</h1>
        <p style="margin-left: 20px;font-size: 20px;width: 70%;">Gérer mieux vos ventes en connaissant à temps les stocks,les quantités,etc..afin de mieux satisfaire vos clients !!</p>
    </div>
    <img alt="user header" src="../../../assets/img/velo1.png"/>
</div>

<div style="display: flex;flex-direction: row;">
<a routerLink="/categorie">
<p-card header="Catégories" subheader="Card Subheader" [style]="{marginTop:'30px',marginRight:'10px'}" >
    <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/img/Produits.png" />
    </ng-template>

</p-card>
</a>
<p-card header="Produit" subheader="Card Subheader" [style]="{ marginTop:'30px',marginRight:'10px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/img/Produits.png" />
    </ng-template>

</p-card>
<p-card header="Commandes" subheader="Card Subheader" [style]="{marginTop:'30px',marginRight:'10px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/img/Produits.png" />
    </ng-template>

</p-card>
<p-card header="Articles" subheader="Card Subheader" [style]="{ marginTop:'30px',marginRight:'10px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/img/Produits.png" />
    </ng-template>

</p-card>
</div>
<div style="display: flex;flex-direction: row;">
    <p-card header="Employés" subheader="Card Subheader" [style]="{marginTop:'30px',marginRight:'10px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/Produits.png" />
        </ng-template>
    
    </p-card>
    <p-card header="Clients" subheader="Card Subheader" [style]="{ marginTop:'30px',marginRight:'10px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/Produits.png" />
        </ng-template>
    
    </p-card>
    <a routerLink="/marque">
    <p-card header="Marques" subheader="Card Subheader" [style]="{marginTop:'30px',marginRight:'10px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/Produits.png" />
        </ng-template>
    
    </p-card>
</a>
    <p-card header="Stocks" subheader="Card Subheader" [style]="{ marginTop:'30px',marginRight:'10px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/Produits.png" />
        </ng-template>
    
    </p-card>
    </div>